# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName achevend.com
AuthUserFile /home/achevelw/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/achevelw/public_html/_vti_pvt/service.grp
